<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/style.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="container" >
    <div id="regis" class="login-box">
      <div class="left">
        <img src="https://t-bank.s3-ap-southeast-1.amazonaws.com/public/images.jpg" alt="">
      </div>


      <div class="right" id="login">
        <h1>ĐĂNG NHẬP</h1>
      <div class="textbox">
        <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <form method="POST" >
        <input type="text" id="email" name="email" placeholder="Email">
      </div>
      <div class="textbox">
        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <rect width="11" height="9" x="2.5" y="7" rx="2"/>
          <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
        </svg>
        <input type="password" id="password" name="password" placeholder="Mật khẩu">
      </div>
      
        <input class="btn" type="submit" value="Đăng nhâp">
      </form>

      <form action="register">
        <input class="btn" onclick="add()" type="submit" value="Đăng ký">
      </form>


      <script src="./assets/start-form.js"></script>

      <div id="txt">
        <a href="#">Quên mật khẩu?</a>
      </div>
      </div>

      
  <script src="./assets/script.js"></script>
</body>
</html>
